
<div class="container mt-5 col-8" >
  <div class="row">
    {{#each products}}
    <div class="card shadow" style="width: 18rem;">
     <img class="card-img-top" src="images/{{this._doc.cryptoId}}.jpg" alt="Card image cap" />
        <div class="card-body">
        <h5 class="card-title">{{this._doc.name}}</h5>
        <p class="card-text text-success">Rs. {{this._doc.Price}}</p>
          <button class="btn btn-primary" onclick="addToKart('{{this._doc.cryptoId}}')">Add To Kart</button>
        
      </div>
    </div>
    {{/each}}
  </div>
</div>